<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': warehouse ? 'handleEdit' : 'handleAdd',
        }
    }) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Uložit</button>

    {{ form_end(form) }}
</div>
