.DS_Store
.gitignore
.dockerignore
.editorconfig
.github
.idea
.sync
.phpstorm.meta.php
.phpunit.result.cache
.env.*

tests/
vendor/
node_modules/
var/

compose.yaml
compose.override.yaml
phpstan.neon
Dockerfile

.docker-data/
