{% extends 'base.html.twig' %}

{% block title %}Generovat pozice{% endblock %}

{% block content %}
    <h1>Generovat pozice</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('positions') }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>
    </p>

    <twig:Position:GeneratePositionsForm />
{% endblock %}
