{% extends 'base.html.twig' %}

{% block title %}Pozice - {{ position.name }}{% endblock %}

{% block content %}
    <h1>Pozice - {{ position.name }}</h1>

    <h5>Scénáře:</h5>
    - naskladnit položku na tuto pozici<br>
    - vyskladnit položku z této pozice<br>
    - seznam zboží na této pozici

{% endblock %}
