<body style="padding: 0;margin: 0;font-family: Arial;font-size: 20pt;">
    <img src="{{ qr_code_data_uri( url('position_info', {'id': position.id}) ) }}" style="width: 31mm;margin-right: 5pt;">

    <span style="float: right;display: block;width: 70mm;text-align: left;padding-top: 2mm;">
        {{ position.name }}
    </span>
</body>
