<body style="padding: 0;margin: 0;font-family: Arial;font-size: 20pt;">
    {% for position in positions %}
        <img src="{{ qr_code_data_uri( url('position_info', {'id': position.id}) ) }}" style="width: 31mm;margin-left: 5pt;float: right">

        <span style="float: left;display: inline-block;width: 68mm;text-align: left;padding-top: 2mm;padding-left: 2mm;">
            {{ location.name }} - {{ position.name }}
        </span>
    {% endfor %}
</body>
