{% extends 'base.html.twig' %}

{% block title %}Generovat lokace{% endblock %}

{% block content %}
    <h1>Generovat lokace</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('locations') }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>
    </p>

    .. todo ..
{% endblock %}
