{% extends 'base.html.twig' %}

{% block title %}Lokace - {{ location.name }}{% endblock %}

{% block content %}
    <h1>Lokace - {{ location.name }}</h1>

    <h2>Pozice</h2>

    {% if location.positionsCount == 0 %}
        <div class="alert alert-info">
            Tato lokace nemá žádné pozice
        </div>
    {% else %}
        <ul class="list-inline">
            {% for position in location.positions %}
                <li class="list-inline-item">
                    <a class="btn btn-sm btn-outline-secondary mb-2" href="{{ path('position_info', {'id': position.id}) }}">
                        {{ position.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    <h2>Položky</h2>

    <div class="alert alert-info">
        Žádné položky na této lokaci
    </div>


    <h2>Pohyby</h2>

    <div class="alert alert-info">
        Žádná historie
    </div>
{% endblock %}
