{% extends 'base.html.twig' %}

{% block title %}Lokace - {{ location.name }}{% endblock %}

{% block content %}
    <h1>Lokace - {{ location.name }}</h1>

    <h5>Scénáře:</h5>
    - seznam pozic<br>
    - seznam položek v lokaci<br>
    - historie všech pozic na lokaci
{% endblock %}
