<html>
<body style="padding: 0;margin: 0;">
<div style="text-align: center;padding: 0;margin: 20px auto;">
    {% for position in positions %}
        <img style="margin: 10px;" src="{{ qr_code_data_uri(url('position_info', {'id': position.id}), 'default', {'labelText': position.location.name ~ ' / ' ~ position.location.name}) }}">
    {% endfor %}
</div>
</body>
</html>
