{% extends 'base.html.twig' %}

{% block title %}Přidat produkt{% endblock %}

{% block content %}
    <h1>Přidat produkt</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('products') }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>
    </p>


{% endblock %}
