{% extends 'base.html.twig' %}

{% block title %}Importovat produkty{% endblock %}

{% block content %}
    <h1>Importovat produkty</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('products') }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>
    </p>


{% endblock %}
