{% extends 'base.html.twig' %}

{% block title %}Prodult - {{ product.title }}{% endblock %}

{% block content %}
    <h1>Produkt - {{ product.title }}</h1>

    <h5>Scénáře:</h5>
    - naskladnit tuto položku na vybranou pozici<br>
    - vyskladnit tuto položku z vybrané pozice<br>
    - seznam pozic s touto položkou<br>
    - historie této položky
{% endblock %}
