{% extends 'base.html.twig' %}

{% block title %}Produkt - {{ product.title }}{% endblock %}

{% block content %}
    <h1>Produkt - {{ product.title }}</h1>

    <h2>Objednávky</h2>

    <div class="alert alert-info">
        Žádné objednávky s tímto produktem
    </div>


    <h2>Pozice</h2>

    <div class="alert alert-info">
        Tento produkt není naskladněn na žádné pozici
    </div>


    <h2>Pohyby</h2>

    <div class="alert alert-info">
        Tento produkt nemá žádnou historii
    </div>
{% endblock %}
