{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block content %}
    <h1>Produkty</h1>

    <p>
        <a class="btn btn-outline-primary" href="{{ path('product_add') }}">
            <i class="bi bi-plus-lg"></i> Přidat produkt
        </a>

        <a class="btn btn-outline-primary" href="{{ path('product_import') }}">
            <i class="bi bi-arrow-repeat"></i> Importovat produkty
        </a>
    </p>

    <div class="table-responsive shadow-lg">
        <table class="table table-hover mb-0">
            <thead class="table-dark">
            <tr>
                <th scope="col">Název</th>
                <th scope="col">Uživatel</th>
                <th scope="col" class="text-end">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.user.email }}</td>
                    <td class="text-end">
                        <a href="#" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-zoom-in"></i> Detail
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
