{% extends 'base.html.twig' %}

{% block title %}Sklad {{ warehouse.title }}{% endblock %}

{% block content %}
    <h1>Sklad {{ warehouse.title }}</h1>

    <h5>Scénáře:</h5>
    - seznam lokací a pozic<br>
    - historie celého skladu
{% endblock %}
