{% extends 'base.html.twig' %}

{% block title %}Sklady{% endblock %}

{% block content %}
    <h1>Editace skladu</h1>

    <p>
        <a class="btn btn-outline-secondary" href="{{ path('warehouses') }}">
            <i class="bi bi-arrow-left"></i> Zpět
        </a>
    </p>

    <twig:Warehouse:WarehouseForm warehouse="{{ warehouse }}" />
{% endblock %}
